body{
    background-image: url("../Images/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#Chesseboard {
    width: 800px;
    height: 800px;
    border: solid red 1px;
    opacity: .5;
}
.BlackBox{
    float: left;
    width: 100px;
    height: 100px;
    background-color: Black;

}
.whiteBox{
    float: left;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;

}